<div fxLayout="row">
  <mat-card class="banner-summary" appearance="outlined">
    <mat-card-content class="title">
      <div fxLayout="row" class="title_row">
        {{ accountInfo.name }}
        <app-badge [tag]="accountInfo.tag"></app-badge>
      </div>
      <div fxLayout="row" class="category">
        {{ accountInfo.category }} account
      </div>

      <div fxLayout="row" class="balance">
        {{ accountInfo.balance }} BTC
        <span class="balance_usd">
          ({{ accountInfo.balance_in_usd | currency }})
        </span>
      </div>

      <div fxLayout="row" class="av_balance" id="available-balance">
        Available balance: {{ accountInfo.available_balance }} BTC
        <span class="balance_usd" >
          ({{ accountInfo.available_balance_in_usd | currency }})
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="table_container"  *ngIf="!isLoading; else other_content">
  <app-transaction-table [transactions]="transactions" [noData]="noData"></app-transaction-table>
</div>

<ng-template #other_content>
  <div fxLayout="row" class="loader_container">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</ng-template>
